 /* --------------About Section Start------------------- */
 .about-section  {
    font-size: clamp(18px, 4vw, 16px);
 }



 
 @media screen and (max-width: 767px) {
    .about-section {
        padding-top: 25rem !important;
        div {
            div {
                gap: 4rem;
            }
        }
    }
 }
 @media screen and (max-width: 500px) {
    .about-section {
        padding-top: 17rem !important;
        div {
            div {
                gap: 4rem;
            }
        }
    }
 }
 
 @media screen and (min-width: 992px) {
    .text-line-height {
        line-height: 2rem;
    }
 }
/* --------------About Section End------------------- */
 
 

 /* --------------Team Section Start------------------- */
 .team-card {
    max-width: 14rem;
    min-width: 14rem;
    height: 21rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.hover-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);  
    display: flex;
    align-items: flex-end;  
    justify-content: center;
    text-align: center;
    color: white;
    opacity: 0;  
    transition: bottom 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.team-card:hover .hover-layer {
    bottom: 0;  
    opacity: 1; 
}

.text {
    transform: translateY(20px);  
    transition: transform 0.4s ease-in-out;
}

.team-card:hover .text {
    transform: translateY(0);  
}

.text p {
    font-size: 14px;
}

.text-color {
    color: rgba(255, 255, 255, 0.566);
    font-size: 12px;
} 


 


 /* This responsive code only for About page footer. I added Team Sectin padding for down the footer */
 @media screen and (max-width: 1199px) {
    .team-section {
        margin-bottom: 22rem;
     }
     
 }
 
 @media screen and (max-width: 992px) {
    .team-section {
        margin-bottom: 25rem;
     }
     
 }
 
 @media screen and (max-width: 768px) {
    .team-section {
        margin-bottom: 25rem;
     }
     
 }


@media screen and (max-width: 495px) {
    .team-section {
        margin-bottom: 70rem;
    }
}

/* --------------Team Section End------------------- */