
.card-hover {
    transition: all .3s linear;
    overflow: hidden;
}
.card-hover:hover {
    transform: scale(1.02);
}

 

/* ------------Blog Details Page---------- */
.blog-card {
    .blog-body {
        span {
            font-size: 13px;
        }
        p {
            text-align: justify;
        }
    }
}

.blog_title {
    font-size: clamp(18px, 4vw, 30px);
}

.blog_desc {
    font-size: clamp(13px, 2vw, 16px);
}


@media screen and (max-width: 768px) {
    .blog-card {
        min-width: 90%;
    }
}
