 
/* ----------Blog Card styleing --------- */
.card-hover {
    transition: all .3s linear;
    overflow: hidden;
}
.card-hover:hover {
    transform: scale(1.02);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 5;  
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}




/* ------------Blog Details Page Styling---------- */
.blog-card {
    .blog-body {
        span {
            font-size: 13px;
        }
        p {
            text-align: justify;
        }
    }
}

.blog_title {
    font-size: clamp(27px, 5vw, 40px);
}

.text-body {
    h2 {
        img {
            width: 100% ;
            object-fit: contain;
        }
    }
    p {
        span {
            font-size: clamp(15px, 3vw, 17px) !important;
        }
        
        img {
            max-width: 100% ;
            object-fit: contain;
        }
    }
}

.line-spacing * {
    white-space: normal; 
    word-wrap: break-word;  
    background-color: transparent !important; 
    color: #000000 !important;
    img {
        max-width: 500px;
    }
}

