
._shadow {
    border-radius: 50%;
    box-shadow: 0 0 30px #20bac8;
}

.text-size {
    font-size: clamp(14px, 2vw, 16px);
}


/* This styles for Hero image */
.bg-color {
    background-color: #363538de;
}

.animate {
    animation: animate 2s linear infinite alternate forwards;
}

@keyframes animate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Move up */
    }
    100% {
        transform: translateY(0); /* Move back down */
    }
}





@media screen and (max-width: 768px) {

    .container {
        .row {
            div {
                div {
                    text-align: center;
                }
            }
        }

        .social_icon {
            display: flex;
            justify-content: center;
        }
    }
}