
.navigation{
    height: 70px;
    width: 100%;
    box-shadow: 1px 0px  1px #fff;
    position: sticky;
    top: 0;

    backdrop-filter: blur(10px); /* Adds blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    transition: background 0.3s ease-in-out;
    z-index: 999;
}

.nav__link{
    li {
        display: inline-block;
        padding-left: 40px;
        margin-top: 5px;
        
    }
 
}

/* Link hover style  */
.link-style {
    position: relative;
    color: #3383fa !important;
}
.link-style::before {
    position: absolute;
    bottom: -3px;
    content: "";
    width: 0;
    height: 2px;
    background: #3383fa;
    z-index: 999;
    transition: all .2s linear;
}

.link-style:hover::before {
    width: 100%;
}
 

/* Small device toggler */
.nav__link__small {
    width: 50vw;
    height: 100vh;
    text-align: center;
    background: rgb(2, 35, 134);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: .3s linear;
    
    ul {
        list-style: none;
        li {
            padding: 20px; 
        }
    }
}


.ham-menu {
    display: none;
}

 
.mobile-menu {
    position: absolute;
    top: 4.5rem;
    right: 0;
    width: 100%;
   
    div {
        background-color: #435576;
        width: 100%;
        height: 60vh;     
    }
}


@media only screen and (max-width: 768px) {

    .web-menu {
        display: none;
    }

    .ham-menu{
          display: inline-block;
          text-align: end;
    }

   .mobile-menu .ul-parent {
        display: flex;
        justify-content: center !important;
        ul {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            justify-content: center;
            margin-left: -28px;
           li {
             a {
                color: #ddd !important;
             }
           }
        }
    
   }
  }