
/* Blog section */
@media screen and (max-width: 768px) {
    .blog-section {
        margin-top: 4rem;
         
    }

    .team-section {
        margin-top: 10rem;
    }
}


 /* Team section  */
@media screen and (max-width: 768px) {
    .team-section {
        margin-top: 18rem;
    }
}


/* Quill Js Text editor small device text-align: left  */
@media screen and (max-width: 768px) {
    .container {
        & .row {
            & div {
                div {
                    text-align: left;
                }
            }
        }
    }
}



/* Dashboard Service section  */
@media screen and (max-width: 670px) {
     .p-sm {
        padding: 1rem;
     }
}

