
/* Blog section */
@media screen and (max-width: 768px) {
    .blog-section {
        margin-top: 4rem;
         
    }

    .team-section {
        margin-top: 10rem;
    }
}


 /* Team section  */
@media screen and (max-width: 768px) {
    .team-section {
        margin-top: 18rem;
    }
}
