
@media screen and (max-width: 768px) {
    .blog-section {
        margin-top: 4rem;
         
    }

    .team-section {
        margin-top: 10rem;
    }
}

@media screen and (max-width: 768px) {
    .team-section {
        margin-top: 18rem;
    }
}


/* Quill Js Text editor small device text-align: left  */
@media screen and (max-width: 768px) {
    .container {
        & .row {
            & div {
                div {
                    text-align: left;
                }
            }
        }
    }
}